body {
    background-color: #000000;
}

:root {
    --base-font: 'American Typewriter','American Typewriter 300', serif;
}

header {
    padding: 10px;
    font-family: var(--base-font);
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}


header h1 {
    display: inline-block;
    font-size: 48px;
    align-items: center;
}


.quiz {
    color:white ;
    font-family:var(--base-font);
    text-align: center;
    align-items: center;
    display: block;
    font-size: 15px;
}

.actual-quiz {
    align-items: center;
    display:block;
}

.userisright {
    color: greenyellow;
}

.useriwrong {
    color: rgb(255, 47, 47);
}
.answersButton{
    background-color: #4c86af; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-family: var(--base-font);
}
.answersButton:hover{
    color:rgb(255, 255, 255);
    background-color:#183480;
}
.startbutton{
    background-color: #4c86af; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-family: var(--base-font);
}
.startbutton:hover{
    color:rgb(255, 255, 255);
    background-color:#183480;
}

.hide {
    display: none;
  }
  


#timeDisplay{
    font-size: 75px;
    color: #40c437;
    font-family: consolas, monospace;
    
}
.timeDisplaybelow30{
    font-size: 75px;
    color: #c43737;
    font-family: consolas, monospace;
    
}
#timeContainer{
    display:inline;
    text-align: center;
    width: 50%;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}